* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .96rem;
    color: #404040;
    line-height: 1.6;
    min-width: 300px;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 1em;
}

.sub-img,
.sub-img-con {
    /* height: 360px; */
    object-fit: cover;
    box-shadow: 5px 5px 0px rgb(73, 73, 73), 10px 10px 0px rgb(165, 136, 40);
    margin-bottom: 1em;
}

/* ================typography================= */

h1,
h2 {
    font-weight: 700; 
}

h1 {
    color: white;
    font-size: 1.9rem;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 1.3rem;
}

.sub-title {
    color: #404040;
    justify-self: center;
}

strong {
    font-weight: 700;
    color: rgb(165, 136, 40);
}

p strong {
    color: #404040;
}

.sub-title,
.sub-subtitle {
    grid-column: 2/-2;
    text-align: center;
}

.sub-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    background: rgb(165, 136, 40);
    margin-top: -30px;
    margin-left: 10px;
}

.col-subtitle::after,
.col h2::after,
.col-subtitle-con::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: rgb(165, 136, 40);
}

.col h2::after {
    margin-left: auto;
    margin-right: auto;
}

.col-subtitle::after {
    margin-top: 5px;
}

.banner-subtitle {
    color: white;
    margin-top: 0;
}

.btn {
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: .5em 1.8em;
    background-color: rgb(165, 136, 40);
    border: 0;
    cursor: pointer;
    transition: transform 250ms;
    border-radius: 2px;
}

.btn:hover,
.btn:focus {
    background: orange;
    transform: scale(1.1);
}

.btn-banner {
    justify-self: start;
}

.btn-send {
    padding: .8em 2.2em;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
    color: gray;
}

i:hover {
    color: orange;
}

.surname {
    font-size: 2rem;
    font-weight: 700;
    color: gray;
    /* text-decoration-line: underline overline; */
}
/* ================header main footer================= */

.grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}


@media (min-width: 600px) {
    .grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(1em, 1fr);
    }
}

/* ================main-content================= */
.banner {
    background-image: url(../img/home-page.jpg), linear-gradient(to right, rgb(26, 26, 26), rgb(247, 246, 246));
    background-color: #656565;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.banner > * {
    grid-column: 2 / -2;
}

@media (min-width: 600px) {
    .banner > * {
        grid-column: 2 / 5;
    }

    .banner {
        padding: 3em 0;
    }
}

.columns {
    padding: 1em 0;
}

.col {
    grid-column: 2 / -2;  
}

@media (min-width: 600px) {
    .col {
        grid-column: span 1;
    }

    .col:first-child {
        grid-column: 2 / span 1;
    }
}

/* ================columns================= */
.columns {
    text-align: center;
}

/* ================footer================= */
.footer {
    text-align: center;
}

footer {
    background-color: gainsboro;
    padding: 1em 0;
    grid-template-areas: 
    ". social ."
    ". main .";
}

.footer-main,
.footer-social-media-list {
    grid-column: 2 / -2;
}

.footer-social-media-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 0;
    /* border: 1px solid red; */
    grid-area: social;
}

.social-item {
    /* border: 1px solid red; */
    margin-right: 1.3em;
}

.link {
    color: #404040;
    font-size: 1.6em;
    margin-right: .2em;
}

.footer-main {
    opacity: .6;
    grid-area: main;
}

.footer-small-par {
    font-size: .6rem;
}

@media (min-width: 600px) {
    footer {
        grid-template-areas: 
        ". main main social .";
    }

    .footer-social-media-list {
        justify-content: end;
        /* display flex above */
    }

    .footer-main {
        text-align: left;
    }
}

/* ================navigation menu small screen================= */
.header {
    background-color: black;
}

.header-content {
    display: flex;
    grid-column: 2 / -2;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: solid 3px greenyellow; */
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(165, 136, 40);
}

.nav {
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 300ms;
}

.navigation-open {
    transform: translateX(-100%);
}

.close-nav,
.open-nav {
    border: 0;
    background: 0;
    color: rgb(165, 136, 40);
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    padding: .3em;
}

.close-nav {
    position: absolute;
}

.open-nav {
    margin-left: auto;
}

/* ================navigation menu large screen================= */
@media (min-width: 600px) {
    .open-nav,
    .close-nav {
        display: none;
    }

    .nav {
        position: initial;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-item {
        margin-left: 2em;
    }

    .nav-link {
        font-size: 1.3rem;
    }
}

/* ================about me small screen================= */
.main-sub > * {
    grid-column: 2/-2;
}

.main-sub {
    padding: 2em 0;
}

/* ================about me large screen================= */
@media (min-width: 600px) {

    .sub-img {
        grid-column: 2 / span 1;
    }

    .sub-txt {
        grid-column: 3 / span 2;
    }

    .col-subtitle:first-child {
        margin-top: 0;
    }
}

/* ================contact large screen================= */

@media (min-width: 600px) {
    .sub-img-con,
    .sub-txt-con  {
        grid-column: 2/3;
        }

    .sec-form {
        grid-column: 3 / span 2;
        /* border: solid red 2px; */
        grid-row: span 2;
    }

    .sub-txt-con {
        order: 2;
    }

    .sub-img-con {
        min-height: 200px;
        object-fit: cover;
        margin-bottom: 0;
    }

    .btn-send {
        margin-bottom: 0;
    }

    .col-subtitle-con {
        margin-top: 1em;
    }
}

/* ================contact form================= */
.form-contact {
    /* border: solid red 2px; */
    display: grid;
}

label {
    font-weight: 700;
    color: grey;
    margin-bottom: 0;
}

input,
textarea
 {
    width: 100%;
    padding: .5em;
    border-radius: 2px;
    font-family: inherit;
    border: grey solid 1px;
    margin-bottom: .7em;
}

textarea {
    resize: none;
    height: 100px;
}

@media (min-width: 600px) {
    .form-contact {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: .5em;
        grid-auto-flow: dense;
    }

    .fname-label,
    .fname-input {
        grid-column: 1;
    }

    .email-label,
    .email-input {
        grid-column: 2;
    }

    .message-label,
    .message-input {
        grid-column: span 2;
    }

    .btn-send {
        grid-column: 2;
        /* margin-left: auto; */
        justify-self: end;
        margin-bottom: 0;
     }
}